page-home {
    #contentArea {
        background: url(/assets/imgs/carlitos-Cartoon-Landscape.svg) no-repeat top left;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

}
